section {
  display: flex;
  flex-flow: column nowrap;
  border: 1px solid black;
  padding: 1em;
  border-radius: 1em;
}

form {
  display: flex;
  flex-flow: column nowrap;
  background: #dddd;
  padding: 1em;
  border-radius: 1em;
}
